h1 { color: rgb(255, 255, 255); text-align: center;}
h2 { color: rgb(255, 255, 255); text-align: center;}
p {color: rgb(216, 117, 11); font-family: Georgia, 'Times New Roman', Times, serif ; text-align: center; }
body { background-color: rgb(27, 20, 20); text-decoration: none;color: black; padding: 3px 6px }
 
img {width: 500px; height:auto ; border-radius: 10px; }
div {text-align: center;}

.loremUno {color: limegreen;}

#combatiente {color: limegreen;}