img {border-radius: 10px;}
h1 { color: rgb(152, 17, 180); text-align: center;}
h2 { color: rgb(152, 17, 180); text-align: center;}
p {color: rgb(221, 20, 164); font-family: 'Times New Roman', Times, serif ; text-align: center; }
body { background-color: rgb(245, 245, 245); text-decoration: none;color: rgb(0, 0, 0); padding: 3px 6px }